.quantity-box {
      background: #f1f1f1;
      border-radius: 50px;
      padding: 5px 15px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -50px;
      left: 50%;
      transform: translateX(-100%);
    }
 .delete-btn {
      top: -55px;
      right: 10px;
      color: red;
      font-size: 20px;  
      cursor: pointer;
}
    .order-summary {
      border: 1px solid #ddd;
      border-radius: 12px;
      padding: 20px;
      background: #fff;
    }
    .btn-checkout {
      background: #000;
      color: #fff;
      border-radius: 30px;
      width: 100%;
      padding: 12px;
      font-weight: 600;
    }
    .btn-checkout:hover {
      background: #333;
      color: #fff;
    }