@import url("./font.css");

:root{
    --bs-secondary-rgb: 240, 240, 240;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

body{
    font-family: "Satoshi" , sans-serif;
}

.logo{
    width: 150px;
}

h1 , h2 {
    font-family: 'Integral-CF',sans-serif;
    font-weight: bold;
    color: black;
    font-size: 48px;
}




footer{
  margin-top: 10rem;
}

footer h2 {
  font-family: 'Satoshi', 'sans-serif';
  letter-spacing: 3px;
}

footer a:hover p {
  color: #000000;
}
