*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #f2f0f1;
}

.hero-title{
    font-size: 64px;
}

.button:hover{
    background-color: rgb(240, 240, 240);
    color: #000;
    transform: scale(1.1);
}

.vector-big{
    top : 15%;
    right: 0;
}

.vector{
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.del{
    color: rgba(0, 0, 0, 0.4);
}

.persentage{
    background-color: rgba(255, 51, 51, 0.192);
    color: #FF3333;
    font-size: 12px;
}

.broes-section{
    border-radius: 20px;
      padding: 2rem;
}

.dresstyle .card p{
    top : 15px;
    left: 15px;
}

.dresstyle .card {
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    
}

.dresstyle .card img{
    transition: transform 0.5s ease;
}

.dresstyle .card img:hover{
    transform: scale(1.3);
    /* animation: zoom 1s ease 0s 1 direction fill-mode; */
}

/* @keyframes zoom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.3);
    }
} */

.dresstyle .card img{
    width: 100%;
      object-fit: cover;
      border-radius: 15px;
}

footer{
  margin-top: 10rem;
}

footer h2 {
  font-family: 'Satoshi', 'sans-serif';
  letter-spacing: 3px;
}

footer a:hover p {
  color: #000000;
}


