@font-face {
    font-family: 'Montserrat';
    src: url('../assets/plugins/font/Montserrat/Montserrat-Bold.eot');
    src: url('../assets/plugins/font/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/plugins/font/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../assets/plugins/font/Montserrat/Montserrat-Bold.ttf') format('truetype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/plugins/font/Montserrat/Montserrat-Medium.eot');
    src: url('../assets/plugins/font/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../assets/plugins/font/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../assets/plugins/font/Montserrat/Montserrat-Medium.ttf') format('truetype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.eot');
    src: url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../assets/plugins/font/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/plugins/font/Montserrat/Montserrat-Regular.eot');
    src: url('../assets/plugins/font/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/plugins/font/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../assets/plugins/font/Montserrat/Montserrat-Regular.ttf') format('truetype'),
        url('../assets/plugins/font/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.eot');
    src: url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
        url('../assets/plugins/font/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


